element {
  --main-bg-color: rgb(231, 129, 129);
}

body {
    background: rgba(94, 94, 91, 0.44);
}

/* ////////////////////////////////// TABLE ///////////////////////////// */
th td tr {
    width: 20px;
}

#blink {
    -webkit-animation: blink 1.7s linear infinite;
    animation: blink 1.7s linear infinite;
  }
  @-webkit-keyframes blink {
    50% { color: rgb(34, 34, 34); }
    51% { color: rgba(34, 34, 34, 0); }
    100% { color: rgba(34, 34, 34, 0); }
  }
  @keyframes blink {
    50% { color: rgb(34, 34, 34); }
    51% { color: rgba(34, 34, 34, 0); }
    100% { color: rgba(34, 34, 34, 0); }
  }

/* ////////////////////////////////// MENU ///////////////////////////// */
  menu {
    border: solid 1px rgba(71, 13, 13, 0.295);
    background-color: rgb(160, 102, 27);
    border-radius: 10%;
    padding-top: 55px;
    text-decoration: none;
    height: 100px;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
  }

  @keyframes example {
    from {background-color: rgb(160, 102, 27);}
    to {background-color: var(--main-bg-color);}
  }

  a:link {
    text-decoration: none;
    font-size: 2rem;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 5px;
  }
  
  a:visited {
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
  }
  
  a:hover {
    /* text-decoration: none; */
    color: pink;
    font-size: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.316);
    border-radius: 5px;
  }
  
  a:active {
    text-decoration: underline;
  }
/* ////////////////////////////////// MAIN  ///////////////////////////// */

  #main-content {
    background-color: rgba(98, 165, 32, 0.637);
    height: 500px;
    border-radius: 2%;
    padding-left: 30%;
  }

  #footer {
    background-color: rgb(211, 114, 243);
    height: 80px;
  }

  img {
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.685);
  }
  
  img:hover {
    border: 1px solid rgba(0, 0, 0, 0.316);
  }